<%- include("header") -%>
<h1 style="padding-left: 70px; padding-top: 50px;">About Us</h1>
<pre style="width: 70%; line-height: 2rem; margin: 40px 0 70px 70px;">SHRIHARI K
<a href="mailto:shrihari.kowthal@gmail.com">shrihari.kowthal@gmail.com</a>

SATISHKUMAR
<a href="mailto:satishsajjan4564@gmail.com">satishsajjan4564@gmail.com</a>
</pre>

<%- include("footer") -%>
