<div class="footer">
  <%# <div class="footer-div">
    <h3>Downloads</h3>
    <div class="footer-button-div">
      <button class="btn btn-primary" type="button" name="button"><i class="fab fa-google-play"></i> Download</button>
      <button class="btn btn-outline-light" type="button" name="button"><i class="fab fa-apple"></i> Download</button>
    </div>
  </div> %>
  <div class="social">
    <h4>Follow Us</h4>
    <div class="follow-us-icons">
      <a href="https://www.instagram.com/vikram_.07/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/satish-kumar-sajjan-52284b133/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://github.com/shrihari-07" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>
  <p class="copyright">©Semicolon</p>
</div>


</body>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="javascript/game.js" charset="utf-8"></script>


<script type="text/javascript">
if($(".invisible").text() != 0){
  alert("Successfully Signed-Up");
}
</script>
</html>
