<%- include("header") -%>

<div class="invisible" style="display: none; visibility: hidden;"><%= signedUp %></div>

<div class="header">
  <h1><i class="fas fa-home"></i> Home</h1>
  <p class="home-para">Fantasy cricket is a part of the fantasy sports genre. It is an online game in which a virtual team of real cricket players is created and points are scored depending on how those players perform in real-life matches. To win a tournament, players must work towards attaining the maximum points and the highest rank on the leaderboard. A fantasy cricket match is based on batting and bowling orders, which are the most debated part of cricketing strategy. A small change in the order can change the course of the game. The concept involves selecting a team of 11 players and 3 substitutes from the pool of players who play the match.</p>
  <img class="batsman-img" src="images/batsman.jpg" alt="Batsman">
</div>

<div class="teams">
  <h1>Teams</h1>
  <div class="teams-table">
    <table>
      <tr>
        <td><a href="https://www.chennaisuperkings.com/CSK_WEB/index.html" target="_blank"><img class="teams-img" src="images/CSK.jpeg" alt="CSK Team"></a></td>
        <td><a href="https://www.delhicapitals.in/" target="_blank"><img class="teams-img" src="images/DC.jpeg" alt="DC Team"></a></td>
        <td><a href="https://www.kxip.in/" target="_blank"><img class="teams-img" src="images/KEP.jpeg" alt="KEP Team"></a></td>
      </tr>

      <tr>
        <td><a href="https://www.kkr.in/" target="_blank"><img class="teams-img" src="images/KKR.jpeg" alt="KKR Team"></a></td>
        <td><a href="https://www.royalchallengers.com/" target="_blank"><img class="teams-img" src="images/RCB.jpeg" alt="RCB Team"></a></td>
        <td><a href="https://www.sunrisershyderabad.in/" target="_blank"><img class="teams-img" src="images/SRH.jpeg" alt="SRH Team"></a></td>
      </tr>
    </table>
  </div>
  <div class="team-RR-MI">
    <a href="https://www.rajasthanroyals.com/" target="_blank"><img class="teams-img" src="images/RR.jpg" alt="RR Team"></a>
    <a href="https://www.mumbaiindians.com/" target="_blank"><img class="teams-img" src="images/MI.jpg" alt="MI Team"></a>
  </div>

</div>

<div class="content">
  <h1><i class="fas fa-question-circle"></i> How to Play?</h1>
  <img src="images/players.png" alt="Players">
  <ul>
    <li>You can pick your own team made up of real players with a maximum of 1000 credits.</li>
    <li>Your team earns points based on your chosen players' performance in each match.</li>
    <li>Select A Match</li>
    <li>Create Your Team</li>
    <li>Follow the Match</li>
    <li>Be in to win</li>
  </ul>

    <a href="play" class="btn btn-lg btn-success" type="button" name="button">Play</a>
</div>
<hr>

<%- include("footer") -%>
